

header {
    color: #000;
    font-family: arial,sans-serif;
}
header nav {
    height:50px;
}
header nav a{
    color:inherit;
    opacity: 0.75;
    text-decoration: none;
    font-size: 13px;
    padding-left:15px;
}

header nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
header nav a:hover{
    text-decoration: underline;
}
header nav .back{
    display: flex;
    justify-self: end;
    align-items: center;
}
.signInBtn{
    opacity: 1;
    display: inline;
    background-color: #4683ea;
    border: 1px solid #4285f4;
    border-radius: 3px;
    padding: 5px 12px;
    margin-left:18px;
    color:white;
    font-size: 14px;
    font-weight:bold;
}
 
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
main img{
    position: relative;
    top:-40px;
}
main form{
    display: flex;
    height:130px;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    width:100%;
    position: relative;
}
main form input{
    height:20px;
    padding:10px 30px;
    width:500px;
    border-radius: 24px;
    border:1px solid #dfe1e5;
    font-size: 1em;
}
main form :hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}
main form :focus{
  outline: none;
}
main form .button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    position:absolute;
    width:100%;
    bottom:0;
    height:40px;
    color: rgb(34,34,34);
    background-color: #f2f2f2;
}
footer a{
    text-decoration: none;
    color:inherit;
    font-family: arial,sans-serif;
}