header {
  color: #000;
  font-family: arial, sans-serif;
}
header nav {
  height: 50px;
}
header nav a {
  color: inherit;
  opacity: 0.75;
  text-decoration: none;
  font-size: 13px;
  padding-left: 15px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a:hover {
  text-decoration: underline;
}
header nav .back {
  display: flex;
  justify-self: end;
  align-items: center;
}
.signInBtn {
  opacity: 1;
  display: inline;
  background-color: #4683ea;
  border: 1px solid #4285f4;
  border-radius: 3px;
  padding: 5px 12px;
  margin-left: 18px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}
